@charset "utf-8";
.mobile {display: block;}
.mobileBtn {display: block;}
.pc {display: none;}
.container .mainPhoto {display: none;}
.container ul {margin:15px auto;}
.menu img {display: block;}

/* swiper */
.container .swiper-container { width:370px;margin-top: 10vh;height: 400px;}
.container .swiper-slide img { width: 100%;}
.container .swiper-pagination-bullet {background: black; outline: none;}
.container {position: relative;}
.lie {
    left: 16px;
}
.hamburger{ 
    background: url(../images/hamburger.png) no-repeat;
    width:15px;
    height:15px;
    display: block;
    text-indent: -9999px;
    background-size: contain;
    position: absolute;
    top:2.2vh;
    right:10px;
}
.container { flex-wrap: nowrap;}
.container h1 {margin: 0; order: 1;}
.container h1 a{ 
    width:84px;
    height:24px;
    position: fixed;
    right: 40%;
    top: 2.2vh;
    z-index: 999;
}

/*search*/
.container .fixed {height: 100%; position: fixed; order: 1; background-color: #fff; width: 0; z-index:9999;}
.container .search {position: fixed; top: 2vh; right: 4%; border: none; width:18px; height: 30px; margin: 0; z-index: 9999; order: 3;}
.container .search a img {width: 18px; height: 18px;}
.container .search input {display: none;}

/*menu*/
.container nav {
    height: 100%;
    width: 0;
    top: 0;
    left: 0; position: fixed;
    z-index: 999; order: 2;}
/* .container nav.on {transform: translateX(0);} */
.container .menu {
      width: 280px;
      height: 100%;
      position: relative;
      z-index: 99;
      
      color: #fff;
      font-size: 2rem;
      left: -280px;
}
.container nav img {padding:7vh 0 0 6vw;  display: block;}
.container nav .utill {width: 70%; justify-content: space-between; margin-top: 10px; margin:10px 0 0 7vw;}
.container nav a {font-size: 14px; font-weight: lighter;}
.container nav .gnb {width: 90%; margin-top:50px;margin-left: 7vw;}
.container nav .gnb li{ margin-top:18px;}
/*div로 햄버거랑 메뉴바를 감싸고 새로운 위드,백그라운드 주었더니 다른 메뉴가 안보여서
그 메뉴값들에게 앱솔루트값을 주고 nav 위드값을 줄이면 다시 햄버거바 밑으로 메뉴들이 빼꼼 보입니다 */
.blind {width:100%; height:100vh; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; display: none; z-index: 99;}
.blind.active { display: block;}

.container footer {font-size: 14px; position: absolute; bottom: 5vh; left:11vw;}
.container footer ul{margin: 0;}



