/*****potato move*****/


.contents1 .rain1 {
    position: absolute;
    animation-name:rain1;
    animation-duration: 5s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

@keyframes rain1 {
  from {
  top:-90px;
  left: 10vw;
  width: 30px;
  }
  50% {
  transform:rotate(200deg);
  left: 20vw;
  width: 30px;
  }

  to {
  top:170vh;
  left: 30vw;
  width: 30px;
  }
} 


/*****potato move*****/


.contents1 .rain2 {
    position: absolute;
    animation-name:rain2;
    animation-duration: 5s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain2 {
  from {
  top:-90px;
  left: 70vw;
  width: 40px;
  }
  50% {
  transform:rotate(-300deg);
  left: 60vw;
  width: 40px;
  }

  to {
  top:170vh;
  left: 70vw;
  width: 40px;
  }
} 
/*****potato move*****/


.contents1 .rain3 {
    position: absolute;
    animation-name:rain3;
    animation-duration: 6s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain3 {
  from {
  top:-90px;
  left: 10vw;
  width: 50px;
  }
  50% {
  transform:rotate(-360deg);
  left: 20vw;
  width: 50px;
  }

  to {
  top:170vh;
  left: 10vw;
  width: 50px;
  }
} 
/*****potato move*****/


.contents1 .rain4 {
    position: absolute;
    animation-name:rain4;
    animation-duration: 10s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain4 {
  from {
  top:-90px;
  left: 80vw;
  width: 40px;
  }
  50% {
  transform:rotate(-300deg);
  left: 80vw;
  width: 40px;
  }

  to {
  top:170vh;
  left: 80vw;
  width: 40px;
  }
} 
/*****potato move*****/


.contents1 .rain5 {
    position: absolute;
    animation-name:rain5;
    animation-duration: 7s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain5 {
  from {
  top:-90px;
  left: 20vw;
  width: 40px;
  }
  50% {
  transform:rotate(-600deg);
  left: 10vw;
  width: 40px;
  }

  to {
  top:170vh;
  left: 20vw;
  width: 40px;
  }
} 
/*****potato move*****/


.contents1 .rain7 {
    position: absolute;
    animation-name:rain7;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain7 {
  from {
  top:-90px;
  left: 40vw;
  width:50px;
  }
  50% {
  transform:rotate(-600deg);
  left: 30vw;
  width:50px;
  }

  to {
  top:170vh;
  left: 20vw;
  width:50px;
  }
} 
/*****potato move*****/


.contents1 .rain6 {
    position: absolute;
    animation-name:rain6;
    animation-duration: 3.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain6 {
  from {
  top:-90px;
  left: 40vw;
  width:50px;
  }
  50% {
  transform:rotate(-600deg);
  left: 70vw;
  width:50px;
  }

  to {
  top:170vh;
  left: 60vw;
  width:50px;
  }
} 
/*****potato move*****/


.contents1 .rain7 {
    position: absolute;
    animation-name:rain7;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain7 {
  from {
  top:-150px;
  left: 30vw;
  width: 40px;
  }
  50% {
  transform:rotate(-900deg);
  left: 50vw;
  width: 40px;
  }

  to {
  top:170vh;
  left: 60vw;
  width: 40px;
  }
} 

/*****potato move*****/


.contents1 .rain8 {
    position: absolute;
    animation-name:rain8;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain8 {
  from {
  top:-150px;
  left: 60vw;
  width: 50px;
  }
  50% {
  transform:rotate(-900deg);
  left: 50vw;
  width: 40px;
  }

  to {
  top:170vh;
  width: 40px;
  }
} 



/*****potato move*****/


.contents1 .rain9 {
    position: absolute;
    animation-name:rain9;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain9 {
  from {
  top:-150px;
  left: 40vw;
  width: 40px;
  }
  50% {
  transform:rotate(-900deg);
  left: 50vw;
  width: 40px;
  }

  to {
  top:170vh;
  left: 60vw;
  width: 40px;
  }
} 
/*****potato move*****/


.contents1 .rain10 {
    position: absolute;
    animation-name:rain10;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain10 {
  from {
  top:-150px;
  left: 30vw;
  width: 50px;
  }
  50% {
  transform:rotate(-900deg);
  left: 20vw;
  width: 50px;
  }

  to {
  top:170vh;
  left: 10vw;
  width: 50px;
  }
} 
/*****potato move*****/


.contents1 .rain11 {
    position: absolute;
    animation-name:rain11;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes rain11 {
  from {
  top:-150px;
  left: 60vw;
  width: 40px;
  }
  50% {
  transform:rotate(-900deg);
  left: 80vw;
  width: 40px;
  }

  to {
  top:170vh;
  left: 70vw;
  width: 40px;
  }
} 




/*****circle move*****/


.contents6 .circle1 {
    position: absolute;
    animation-name:circle1;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle1 {
  from {
  bottom:0px;
  left: 30vw;
  width: 50px;
  height: 50px;
  }
  50% {
  left: 40vw;
  }

  to {
  bottom:250vh;
  left: 38vw;
  width: 50px;
  height: 50px;
  }
} 
/*****circle move*****/


.contents6 .circle2 {
    position: absolute;
    animation-name:circle2;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle2 {
  from {
  bottom:0px;
  left: 50vw;
  width: 50px;
  height: 50px;
  }
  50% {
  left: 30vw;
  }

  to {
  bottom:250vh;
  left: 50vw;
  width: 50px;
  height: 50px;
  }
} 
/*****circle move*****/


.contents6 .circle3 {
    position: absolute;
    animation-name:circle3;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle3 {
  from {
  bottom:0px;
  left: 20vw;
  width: 100px;
  height: 100px;
  }
  50% {
  left: 50vw;
  }

  to {
  bottom:250vh;
  left: 40vw;
  width: 100px;
  height: 100px;
  }
} 
/*****circle move*****/


.contents6 .circle4 {
    position: absolute;
    animation-name:circle4;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle4 {
  from {
  bottom:0px;
  left: 80vw;
  width: 100px;
  height: 100px;
  }
  50% {
  left: 60vw;
  }

  to {
  bottom:250vh;
  left: 80vw;
  width: 100px;
  height: 100px;
  }
} 
/*****circle move*****/


.contents6 .circle5 {
    position: absolute;
    animation-name:circle5;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle5 {
  from {
  bottom:0px;
  left: 50vw;
  width: 150px;
  height: 150px;
  }
  50% {
  left: 60vw;
  }

  to {
  bottom:250vh;
  left: 70vw;
  width: 150px;
  height: 150px;
  }
} 
.contents6 .circle6 {
    position: absolute;
    animation-name:circle6;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle6 {
  from {
  bottom:0px;
  left: 40vw;
  width: 70px;
  height: 70px;
  }
  50% {
  left: 50vw;
  }

  to {
  bottom:250vh;
  left: 40vw;
  width: 70px;
  height: 70px;
  }
} 
.contents6 .circle7 {
    position: absolute;
    animation-name:circle7;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle7 {
  from {
  bottom:0px;
  left: 10vw;
  width: 70px;
  height: 70px;
  }
  50% {
  left: 20vw;
  }

  to {
  bottom:250vh;
  left: 10vw;
  width: 70px;
  height: 70px;
  }
} 
.contents6 .circle8 {
    position: absolute;
    animation-name:circle8;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle8 {
  from {
  bottom:0px;
  left: 0vw;
  width: 30px;
  height: 30px;
  }
  50% {
  left: 10vw;
  }

  to {
  bottom:250vh;
  left: 0vw;
  width: 30px;
  height: 30px;
  }
} 
.contents6 .circle9 {
    position: absolute;
    animation-name:circle9;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle9 {
  from {
  bottom:0px;
  left: 5vw;
  width: 40px;
  height: 40px;
  }
  50% {
  left: 10vw;
  }

  to {
  bottom:250vh;
  left: 15vw;
  width: 40px;
  height: 40px;
  }
} 
.contents6 .circle10 {
    position: absolute;
    animation-name:circle10;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle10 {
  from {
  bottom:0px;
  left: 7vw;
  width: 40px;
  height: 40px;
  }
  50% {
  left: 15vw;
  }

  to {
  bottom:250vh;
  left: 4vw;
  width: 40px;
  height: 40px;
  }
} 





/*****circle move*****/


.contents8 .circle1 {
    position: absolute;
    animation-name:circle1;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle1 {
  from {
  bottom:0px;
  left: 30vw;
  width: 50px;
  height: 50px;
  }
  50% {
  left: 40vw;
  }

  to {
  bottom:100vh;
  left: 38vw;
  width: 50px;
  height: 50px;
  }
} 
/*****circle move*****/


.contents8 .circle2 {
    position: absolute;
    animation-name:circle2;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle2 {
  from {
  bottom:0px;
  left: 20vw;
  width: 50px;
  height: 50px;
  }
  50% {
  left: 23vw;
  }

  to {
  bottom:100vh;
  left: 20vw;
  width: 50px;
  height: 50px;
  }
} 
/*****circle move*****/


.contents8 .circle3 {
    position: absolute;
    animation-name:circle3;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle3 {
  from {
  bottom:0px;
  left: 20vw;
  width: 100px;
  height: 100px;
  }
  50% {
  left: 50vw;
  }

  to {
  bottom:100vh;
  left: 40vw;
  width: 100px;
  height: 100px;
  }
} 
/*****circle move*****/


.contents8 .circle4 {
    position: absolute;
    animation-name:circle4;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle4 {
  from {
  bottom:0px;
  left: 80vw;
  width: 100px;
  height: 100px;
  }
  50% {
  left: 70vw;
  }

  to {
  bottom:100vh;
  left: 80vw;
  width: 100px;
  height: 100px;
  }
} 
/*****circle move*****/


.contents8 .circle5 {
    position: absolute;
    animation-name:circle5;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle5 {
  from {
  bottom:0px;
  left: 50vw;
  width: 150px;
  height: 150px;
  }
  50% {
  left: 60vw;
  }

  to {
  bottom:100vh;
  left: 70vw;
  width: 150px;
  height: 150px;
  }
} 
.contents8 .circle6 {
    position: absolute;
    animation-name:circle6;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    
}

@keyframes circle6 {
  from {
  bottom:0px;
  left: 10vw;
  width: 70px;
  height: 70px;
  }

  50% {
  left: 15vw;
  }
  
  80% {
  left: 14vw;
  }

  to {
  bottom:100vh;
  left: 10vw;
  width: 70px;
  height: 70px;
  }
} 
